<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DAILY JOURNAL</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main__container"> 
  <header>
    <div class="main__container">
      <nav class="container">

        <div class="navbar-header">
          <h1 class="navbar-brand">QUAINTRELLE</h1>
        </div>

        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a class="navbar__link" href="/">HOME</a></li>
          <li id="compose"><a class="navbar__link" href="/compose">COMPOSE</a></li>
          <li id="about"><a class="navbar__link" href="/about">ABOUT ME</a></li>
          <li id="contact"><a class="navbar__link" href="/contact">CONTACT ME</a></li>
        </ul>

      </nav>
  </header>
  
    <div class="container">
