<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>DAILY JOURNAL</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="main__container">
    <header>
      <nav class="navbar__container">

        <div class="navbar__title">
          <h1 class="navbar__title--main">QUAINTRELLE</h1>
        </div>

        <ul class="navbar__link">
          <li id="home"><a class="navbar__links" href="/">HOME</a></li>
          <li id="compose"><a class="navbar__links" href="/compose">COMPOSE</a></li>
          <li id="about"><a class="navbar__links" href="/about">ABOUT ME</a></li>
          <li id="contact"><a class="navbar__links" href="/contact">CONTACT ME</a></li>
        </ul>
      </nav>
      <div class="navbar__border"> </div>
    </header>