<%- include("partials/header") -%>

    <h1 class="form__title">Compose</h1>

    <form class="form__container" action="/compose" method="post">

        <div class="form__group">
            <label class="form__group--title" for="title">Title</label>
            <input class="form-control" type="text" id="title" name="postTitle">
        </div>

        <div class="form__group">
            <label class="form__group--text" for="post">Post</label>
            <textarea class="form-control" id="post" rows="9" type="text" name="postBody"> </textarea>
        </div>

        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>

    <p></p>

<%- include("partials/footer") -%>