<%- include("partials/header") -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">

        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title" name="postTitle">
        </div>

        <div class="form-group">
            <label for="post">Post</label>
            <textarea class="form-control" id="post" rows="9" type="text" name="postBody"> </textarea>
        </div>

        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>

    <p></p>

<%- include("partials/footer") -%>