* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar custom */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
}

/* Fonts */
@font-face {
  font-family: "Riesling";
  src: url("/polices/riesling.ttf");
}

@font-face {
  font-family: "Brooke";
  src: url("/polices/brooke.otf");
}

html {
  background-color: #b36331;
}

.main__container {
  color: whitesmoke;
}

.container {
  margin: 0 auto;
  width: 85%;
  padding: 50px 93px 0px 0px;
  overflow-y: scroll;
  height: 500px;
}

.navbar__border {
  margin: 0 auto;
  width: 85%;
  border-bottom: 1px solid whitesmoke;
  opacity: 0.5;
  margin-bottom: 20px;
}

.navbar__container {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 0px 10px 0px;
}

.navbar__title--main {
  font-size: 3em;
  font-family: "Riesling";
  letter-spacing: 3px;
}

.navbar__link {
  list-style: none;
  display: inline-flex;
  align-items: flex-end;
}

.navbar__links {
  text-decoration: none;
  color: inherit;
  font-size: 1em;
  margin-left: 60px;
  font-family: "Brooke";
}

.navbar__links:hover {
  color: red;
}

.title__article {
  font-family: "Brooke";
}

.text__article {
  margin-bottom: 20px;
}

.text__article--anchor {
  color: black;
  text-decoration: none;
  font-size: 0.7em;
  font-family: arial;
}

/* COMPOSE PAGE */
.form__container,
.form__title {
  width: 85%;
  margin: 0 auto;
}

.form__title {
  margin-bottom: 30px;
  font-family: "Brooke";
}

.form__group {
  margin-bottom: 20px;
}

.form__group--title,
.form__group--text {
  display: block;
  margin-bottom: 10px;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #9f5527;
  border-top: 1px solid whitesmoke;
}

.footer__text {
  margin-top: 25px;
  font-size: 12px;
  color: whitesmoke;
  font-family: "Brooke";
}
